body {
    background-color:whitesmoke;
    margin: 0;
    margin: auto;
    color: whitesmoke
    }
h1{
    color: whitesmoke;
    margin-left: 20px;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    position:absolute;
    
}   
div{
    font-family: 'Cabin', sans-serif;
}
p{ 
    text-align: center;
    font-family: 'Cabin', sans-serif;
    margin: 20px;
    top:20px;
    position:absolute;
    

}

.nav {
    background-color:white; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }

img{
    float: left;
}
ul{
    font-weight:300;
    margin: 0;
    padding: 20;
    overflow: hidden;
    font-family: 'Cabin', sans-serif;
    text-align: center;
}


li{
    float: right;
}

li a{
  display: block;
  color: black;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 18px;

}

li a:hover{
    background-color: rosybrown ;
}

.active{
    background-color: white;
}

#prices {
    font-family: 'Cabin', sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #prices td, #prices th {
    border: 1px solid #ddd;
    padding: 8px;
    color: black;
  }
  
  #prices tr:nth-child(even){background-color: #f2f2f2;}
  
  #prices tr:hover {background-color: #ddd;}
  
  #prices th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: black;
    color: white;
  }

